# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# Coverage
coverage/
*.lcov
.nyc_output/

# Env
.env
.env.*

# Editor/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Build/Cache
.cache/
.parcel-cache/
.dist/
build/

# Jest
jest-test-results.json

# Docker
.dockerignore

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Misc
.tmp/
.tmp*/
